<a href="https://colab.research.google.com/github/Dlinz1/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/dlindsey_LS_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 1*

---

In [0]:
import pandas as pd
import numpy as np

In [5]:
# This, I know how to do lol!
print('Lord help me with Data Science Amen')

Lord help me with Data Science Amen

In [0]:
# reading in URLs
# source: # https://www.stats.govt.nz/large-datasets/csv-files-for-download/
url = 'https://www.stats.govt.nz/assets/Uploads/Annual-enterprise-survey/Annual-enterprise-survey-2018-financial-year-provisional/Download-data/annual-enterprise-survey-2018-financial-year-provisional-csv.csv'
bus = pd.read_csv(url)

In [14]:
bus.head()

   Year  ...                             Industry_code_ANZSIC06
0  2018  ...  ANZSIC06 divisions A-S (excluding classes K633...
1  2018  ...  ANZSIC06 divisions A-S (excluding classes K633...
2  2018  ...  ANZSIC06 divisions A-S (excluding classes K633...
3  2018  ...  ANZSIC06 divisions A-S (excluding classes K633...
4  2018  ...  ANZSIC06 divisions A-S (excluding classes K633...

[5 rows x 10 columns]

In [15]:
bus.describe()

               Year
count  27810.000000
mean    2015.500000
std        1.707856
min     2013.000000
25%     2014.000000
50%     2015.500000
75%     2017.000000
max     2018.000000

# Exploratory Data Analysis

- Student can submit assignments via GitHub (save work to GitHub).
- Student can load a dataset (CSV) from a URL using `pandas.read_csv()`
- Student can load a dataset (CSV) from a local file using `pandas.read_csv()`
- Student can use basic pandas EDA functions like: `pandas.describe()`, `pandas.isnull()`, `pandas.value_counts()`, `pandas.crosstab()`.
- Student can generate basic visualizations with Pandas: line plot, histogram, scatterplot, density plot.

# [Objective](#load-csv-from-url) - Load a dataset (CSV) via its URL

## Overview

In order to practice Loading Datasets into Google Colab, we're going to use the [Flags Dataset](https://archive.ics.uci.edu/ml/datasets/Flags) from UCI to show both loading the dataset via its URL and from a local file.

Steps for loading a dataset:

1) Learn as much as you can about the dataset:
 - Number of rows
 - Number of columns
 - Column headers (Is there a "data dictionary"?)
 - Is there missing data?
 - **OPEN THE RAW FILE AND LOOK AT IT. IT MAY NOT BE FORMATTED IN THE WAY THAT YOU EXPECT.**

2) Try loading the dataset using `pandas.read_csv()` and if things aren't acting the way that you expect, investigate until you can get it loading correctly.

3) Keep in mind that functions like `pandas.read_csv()` have a lot of optional parameters that might help us change the way that data is read in. If you get stuck, google, read the documentation, and try things out.

4) You might need to type out column headers by hand if they are not provided in a neat format in the original dataset. It can be a drag.

## Follow Along

### Learn about the dataset and look at the raw file.

In [0]:
# Find the actual file to download
# From navigating the page, clicking "Data Folder"
# Right click on the link to the dataset and say "Copy Link Address"

flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# Extensions are just a norm! You have to inspect to be sure what something is

### Attempt to load it via its URL

In [0]:
# Load the flags dataset from its URL:

### If things go wrong, investigate and try to figure out why.

In [0]:
# Different ways to look at the documentation:

### Try Again

In [0]:
# Keep on trying things until you get it. 
# If you really mess things up you can always just restart your runtime
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colors', 'red', 'green',
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 'crescent',
                  'triangle', 'icon', 'animate', 'text', 'topleft', 'botright']

## Challenge

You'll get very good at reading documentation, Googling, asking for help, troubleshooting, debugging, etc. by the time you're done here at Lambda School. Our goal is to turn you into a data scientist that can solve their own problems.

# [Objective](#load-csv-from-file) - Load a dataset (CSV) from a local file

## Overview

We won't always have CSVs hosted on the interwebs for us. We need to be able to upload files from our local machines as well. With Google Colab this is trickier than it is with other software (like Jupyter Notebooks for example. Because the main file system backing Google Colab is Google Drive, we can't use a filepath to the file on our computers in order to access our data. We have to upload our files to Google Colab before we can start working with them.

## Follow Along

### Method 1: Google Colab File Upload Package
- What should we google to try and figure this out?

In [18]:
terr = pd.read_csv('/Landslides.csv')
terr.head()

   id      date  ...  longitude                                 geolocation
0   1  1/2/2007  ...  -3.587500   (54.549399999999999, -3.5874999999999999)
1   2  1/3/2007  ... -75.426700  (-10.383800000000001, -75.426699999999997)
2   3  1/5/2007  ... -42.536362  (-22.282346350000001, -42.536362050000001)
3   4  1/5/2007  ... -42.673400  (-22.045200000000001, -42.673400000000001)
4   5  1/5/2007  ... -46.613600  (-23.231100000000001, -46.613599999999998)

[5 rows x 34 columns]

### Method 2: Use the GUI (Graphical User Interface)

## Challenge

On the assignment this afternoon you'll get to choose a new dataset and try both of these methods, we will load hundreds of datasets into notebooks by the time the class is over, you'll be pro at it in no time.

# [Objective](#basic-pandas-functions) - Use basic Pandas functions for Exploratory Data Analysis (EDA)

## Overview

> Exploratory Data Analysis (EDA) refers to the critical process of performing initial investigations on data so as to discover patterns, to spot anomalies, to test hypotheses and to check assumptions with the help of summary statistics and graphical representations

Exploratory Data Analysis is often the first thing that we'll do when starting out with a new dataset. How we treat our data, the models we choose, the approach we take to analyzing our data and in large part the entirety of our data science methodology and next steps are driven by the discoveries that we make during this stage of the process.

## Follow Along

What can we discover about this dataset?

- df.shape
- df.head()
- df.dtypes
- df.describe()
 - Numeric
 - Non-Numeric
- df['column'].value_counts()
- df.isnull().sum()
- df.fillna()
- df.dropna()
- df.drop()
- pd.crosstab()

In [0]:
# Lets try reading in a new dataset: The Adult Dataset
# https://archive.ics.uci.edu/ml/datasets/adult

## Challenge

Hopefully a lot of the above functions are review for you from the precourse material, but if not, again, don't worry. We'll be using these again on the assignment and most days of class -whenever we need to wrap our head around a new dataset.

# [Objective](#pandas-visualizations) Generate Basic Visualizations (graphs) with Pandas

## Overview

One of the cornerstones of Exploratory Data Analysis (EDA) is visualizing our data in order to understand their distributions and how they're interrelated. Our brains are amazing pattern detection machines and sometimes the "eyeball test" is the most efficient one. In this section we'll look at some of the most basic kinds of "exploratory visualizations" to help us better understand our data.

## Follow Along

Lets demonstrate creating a:

- Line Plot
- Histogram
- Scatter Plot
- Density Plot
- Making plots of our crosstabs

How does each of these plots show us something different about the data? 

Why might it be important for us to be able to visualize how our data is distributed?

### Line Plot

### Histogram

### Scatter Plot

### Density Plot - Kernel Density Estimate (KDE)

### Plotting using Crosstabs

## Challenge

These are some of the most basic and important types of data visualizations. They're so important that they're built straight into Pandas and can be accessed with some very concise code. At the beginning our data exploration is about understanding the characteristics of our dataset, but over time it becomes about communicating insights in as effective and digestable a manner as possible, and that typically means using graphs in one way or another. See how intuitive of a graph you can make using a crosstab on this dataset.

# Review

Whew, that was a lot. Again, if this content seems overwhelming, remember that this won't be the last time that we'll talk about the skills contained in this lesson. They're right at the beginning of the course because we'll use these skills nearly every day, so you'll get really good at these things in no time!

You know when you're learning a new board game and somebody tries to explain the rules to you and it doesn't make very much sense? My friends always end up saying something like: "It sounds more complicated then it really is, lets just play a round and you'll get it." 

That's the same message that I have for you. There's a lot of new things here at Lambda School in the first week:

- New Course
- New Schedule
- New Community
- New Tools
- New Processes
- New Content

As we go through a cycle of one sprint, it will all start making a whole lot more sense. 

---

Your assignment for this afternoon can be found in the -other- notebook inside the module folder in this week's repository on GitHub. You are going to pick another [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) dataset and do much of the same as what we have done above.

In order to start out with something that won't be impossibly hard, please use one of the datasets that is listed as "Most Popular" on the right side of the UCI website.

Why am I **not** assigning a specific dataset to you for your assignment? As a baby step in getting you more comfortable with open-endedness. Traditional education has been training you to expect there to be a single correct solution to things -that's rarely the case in data science. There are pros and cons to every decision that we make. Over the course of the first unit, we will work on helping you be comfortable open-endedness as we navigate the sea of tradeoffs that exist when we approach data. and you choosing the dataset for your assignment is the first tiny step that we're going to take in that direction. 

Assignment Notebook: